header {
  height: 10vh;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-bottom: dotted red 2px;
  margin-bottom: 30px;
}

header a {
  text-decoration: none;
}

footer {
  height: 10vh;
  height: 10vh;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-top: dotted green 2px;
  margin-top: 30px;
}

.main {
  height: 50vh;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  border: dotted blue 2px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main a {
  text-decoration: none;
}

.main a h1 {
  font-size: 50px;
}

.main a h2 {
  font-size: 40px;
}

.main2 {
  height: 50vh;
  background: blue;
}

